* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --primaryColor :#20325d ;
    --secondColor: #2BB3B1;
    --thirdColor: #ED7923;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 70vw;
    margin-left: 25vw;
    margin-bottom: 5vh;
}
.content h2{
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--thirdColor);
    color:#ffffff;
    margin-top: 20px;
}

.content h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: var(--secondColor);
    color:#ffffff;
}

.content h4{
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-right: 5px solid var(--primaryColor);
    border-left: 5px solid var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

.cooparticipacao{
    border: 1px solid #a1a1a186;
    padding-bottom: 10px;
    margin: auto;
}

.procedimento{
    border: 1px solid var(--secondColor);
    border-radius: 10px;
    padding: 20px;
}

.row{
    margin: auto;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20%;
    color: #ffffff;
    background-color: #20325d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar h1 {
    background: #ffffff;
    color: #20325d;
    padding: 4px;
    border-radius: 12px;
    font-size: 24px;
}

.navbar i{
    color:#ED7923;
    font-size: 20px;
}

.navbar h2 {
    color: #cbd5e1;
    font-weight: normal;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.navbar .user a, .navbar .user i {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fb923c;
}

.navbar a {
    transition: 250ms ease;
}

.navbar a:hover {
    filter: brightness(.8);
    letter-spacing: .5px;
}

.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 8px;
    background: linear-gradient(to bottom, #BF7D2A, #ED7923, #2BB3B1);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    padding: 10px;
    
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

label{
    font-weight: bold;
}

span{
    font-size: 12px;
    color:#a1a1a1;
    font-weight: 100;
}

.btn-primary{
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}
.btn-primary:hover{
    background-color: var(--secondColor);
    border-color: var(--thirdColor);

}

.contato{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 12px;
    width: 100%;
}

.contatos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.linha{
    display:flex;
    flex-direction: row;
    margin: auto;
}

.adicionar-contato{
    width: fit-content;
}
.input-wrapper{
    width: 100%;
}

.adicionar-procedimento{
    background: #198754;
    border-color: #198754;
    width: max-content;
}

.adicionar-procedimento:hover{
    background: #157347;
}

.procedimentos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.procedimento{
    position: relative;
}

.excluir-procedimento{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
}

.title{
    background: #ffffff;
    position: fixed;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    border-left: 1px solid var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
    border-right: 1px solid var(--primaryColor);
    padding: 12px;
    top: 0;
    z-index: 999;
    gap: 12px;
}