<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar FINO</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@200;300;400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbardiv">
        <%- include('navbar') %>
    </div>
    <div class="content">
        <h1>Formulário de Implantação de Novas Operadoras</h1>
        
        <table id="FINOSdb">
            <thead>
                <tr>
                    <th scope="col" colspan="1">Nº FINO</th>
                    <th scope="col" colspan="1">Operadora</th>
                    <th scope="col" colspan="1">Data de criação</th>
                    <th scope="col" colspan="1">Data de atualização</th>
                    <th scope="col" colspan="1">Status</th>
                    <th scope="col" colspan="1">Visualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="1">56415202345</td>
                    <td colspan="1">Amil</td>
                    <td colspan="1">00/00/00</td>
                    <td colspan="1">00/00/00</td>
                    <td colspan="1">Completo</td>
                    <td colspan="1"><button class="visualizeFINO"><i class="bi bi-eye"></i></button></td>
                </tr>
                <tr>
                    <td colspan="1">56415202345</td>
                    <td colspan="1">Amil</td>
                    <td colspan="1">00/00/00</td>
                    <td colspan="1">00/00/00</td>
                    <td colspan="1">Pendente</td>
                    <td colspan="1"><button class="visualizeFINO"><i class="bi bi-eye"></i></button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="text-align: right;">
                        <input 
                        type="text" 
                        name="searchFINO" 
                        id="searchFINO"
                        placeholder="Pesquisar FINOs...">
                        <button id="searchFINO"><i class="bi bi-search"></i></button>
                    </td>
                    <td colspan="3" style="text-align: right;">
                        <button id="loadFINO">Carregar mais <i class="bi bi-arrow-repeat"></i></button>
                    </td>
                </tr>
            </tfoot>
        </table>

        <form action="">
            <fieldset>
                <div id="dadosiniciais">
                    <div class="logo-adm inactive" id="mounthermon">
                        <img src="../logo-adm/mounthermon.svg" alt="Logo da MountHermon">
                    </div>

                    <div class="logo-adm inactive" id="compar">
                        <img src="../logo-adm/compar.svg" alt="Logo da Compar">
                    </div>

                    <div class="logo-adm inactive" id="classe">
                        <img src="../logo-adm/classe.svg" alt="Logo da Classe Administradora">
                    </div>

                    <div class="input-wrapper" id="adm">
                        <label for="administradora">Administradora</label>
                        <select name="administradora" id="administradora" required>
                            <option value="" disabled selected hidden>Selecione a administradora</option>
                            <option value="../logo-adm/mounthermon.svg">Mount Hermon</option>
                            <option value="../logo-adm/compar.svg">Compar</option>
                            <option value="../logo-adm/classe.svg">Classe Administradora</option>
                        </select>
                    </div>

                    <div class="input-wrapper" id="est">
                        <label for="estipulante">Estipulante</label>
                        <select name="estipulante" id="estipulante" required>
                            <option value="" disabled selected hidden>Selecione uma opção</option>
                            <option value="Estipulante">Estipulante</option>
                            <option value="Subestipulante">Subestipulante</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset id="entidades">
                <legend>Entidades aprovadas</legend>
                <table class="entidades" data-table-id="entidades">
                    <thead>
                        <tr>
                            <th scope="col" colspan="1">
                                <h2>Nome</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Descrição</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Público-alvo</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Documentos necessários</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Valor associativo</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Excluir</h2>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="1">
                                <select name="nomeentidade" id="nomeentidade">
                                    <option value="" disabled selected hidden>Selecione a entidade</option>
                                    <option value="ABRAER">ABRAER - Associacao Brasileira dos Estudantes do Ensino Regular
                                    </option>
                                    <option value="ABRAPPPE">ABRAPPPE - Associação dos Profissionais Provedores do Protocolo
                                        Pediasuit</option>
                                    <option value="IBEES">IBEES - Instituto Brasileiro dos Estudantes do Ensino Superior
                                    </option>
                                    <option value="INCAPEB">INCAPEB - Cabeleireiros e Profissionais da Estética e Beleza
                                    </option>
                                    <option value="INFAP">INFAP - Instituto de Formação e Ação em Políticas Sociais para a
                                        Cidadania</option>
                                    <option value="ANACAV">ANACAV - Associação Nacional Do Comércio Atacadista E Varejista
                                    </option>
                                    <option value="Outra">Outra</option>
                                </select>


                                <input type="text" name="outraentidade" id="outraentidade" class="inactive"
                                    placeholder="Insira o nome da entidade" style="margin-top: .5rem;">
                            </td>
                            <td colspan="1">
                                <input type="text" name="descricaoentidade" id="descricaoentidade" required>
                            </td>
                            <td colspan="1">
                                <input type="text" name="publicoentidade" id="publicoentidade" class="first" required>
                            </td>
                            <td colspan="1">
                                <textarea name="documentosentidade" id="documentosentidade"
                                    style="resize: vertical; width: 100%; height: 5rem;" required></textarea>
                            </td>
                            <td colspan="1">
                                <input type="text" name="taxaentidade" id="taxaentidade" required>
                            </td>
                            <td colspan="1">
                                <div class="button-remove" title="Remover entidade" style="margin: auto;"
                                    id="removerentidade">
                                    &times</div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="novalinha">
                    <button class="button-add" id="button-add-entidade" type="button"> + </button>
                    <p>adicionar entidade</p>
                </div>
            </fieldset>

            <fieldset id="negociacoes">
                <legend>condições comerciais</legend>
                <table id="condicoescomerciais">
                    <tr>
                        <td>
                            <h2>Negociações aprovadas</h2>
                        </td>
                        <td>
                            <h2>Valor</h2>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="negspread" id="negspread" value="Não">
                                <label for="negspread">Spread</label>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="spreadvalor" id="spreadvalor" placeholder="%">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="negcomissao" id="negcomissao" value="Não">
                                <label for="negcomissao">Comissão</label>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="comissaovalor" id="comissaovalor" placeholder="%">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="negagenciamento" id="negagenciamento" value="Não">
                                <label for="negagenciamento">Agenciamento</label>
                            </div>
                        </td>
                        <td>
                            <input type="number" name="agenciamentovalor" id="agenciamentovalor" placeholder="%">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" name="negoutro" id="negoutro" placeholder="Outra (especificar)"
                                title="Se não houver, deixar em branco.">
                        </td>
                        <td>
                            <input type="number" name="negoutrovalor" id="negoutrovalor" placeholder="%">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="100%" style="padding-top: .25rem;">
                            <div class="input-wrapper">
                                <textarea name="negobs" id="negobs" placeholder="Observações..." rows="4"
                                    style="resize: vertical;"></textarea>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset id="vigencias">
                <legend>vigências</legend>
                <table class="vigencias" data-table-id="vigencias">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h2>Início da Vigência</h2>
                            </th>
                            <th scope="col">
                                <h2>Movimentação</h2>
                            </th>
                            <th scope="col">
                                <h2>Data do faturamento</h2>
                            </th>
                            <th scope="col">
                                <h2>Aniversário do contrato</h2>
                            </th>
                            <th scope="col" colspan="10%">
                                <h2>Excluir</h2>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="number" name="newsales" id="newsales" min="1" max="31"
                                    placeholder="Dia do mês (número)" required>
                            </td>

                            <td>
                                <input type="number" name="cancel" id="cancel" class="first" min="1" max="31"
                                    placeholder="Dia do mês (número)" required>
                            </td>

                            <td>
                                <input type="number" name="faturamento" id="faturamento" class="first" min="1" max="31"
                                    placeholder="Dia do mês (número)" required>
                            </td>

                            <td>
                                <input type="text" name="birthday" id="birthday" class="first"
                                    placeholder="Dia e mês do ano" required>
                            </td>

                            <td colspan="10%">
                                <div class="button-remove" title="Remover vigência" style="margin: auto;">&times</div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="novalinha">
                    <div class="button-add" id="button-add-vigencia" title="Adicionar entidade">+</div>
                    <p>adicionar vigência</p>
                </div>
            </fieldset>

            <fieldset id="documentos">
                <legend>documentação</legend>
                <div class="input-wrapper">
                    <h2>A operadora requisitou a documentação para análise de propostas?</h2>
                    <div class="radio-wrapper">
                        <input type="radio" name="docoperadora" id="pediudocs" value="Sim" checked>
                        <label for="pediudocs">Sim</label>
                    </div>
                    <div class="radio-wrapper">
                        <input type="radio" name="docoperadora" id="naopediudocs" value="Não">
                        <label for="naopediudocs">Não</label>
                    </div>
                </div>
            </fieldset>

            <fieldset id="contrato">
                <legend>contrato de produtos</legend>
                <table>
                    <tr>
                        <td>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="assOPERADORA" id="assOPERADORA"
                                    value="Não. Previsão de assinatura:">
                                <label for="assOPERADORA">Assinado pela Operadora?</label>
                            </div>
                        </td>

                        <td>
                            <div class="input-wrapper">
                                <input type="text" name="assOPERADORAdata" id="assOPERADORAdata"
                                    placeholder="Previsão da assinatura (dd/mm/AAAA)" required>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="assADM" id="assADM" value="Não. Previsão de assinatura:">
                                <label for="assADM">Assinado pela Administradora?</label>
                            </div>
                        </td>

                        <td>
                            <div class="input-wrapper">
                                <input type="text" name="assADMdata" id="assADMdata"
                                    placeholder="Previsão da assinatura (dd/mm/AAAA)" required>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset id="outros">
                <legend>outros</legend>
                <table>
                    <tr>
                        <td>
                            <h2>O logo da operadora foi enviado ao marketing?</h2>
                            <div class="radio-wrapper">
                                <input type="radio" name="logooperadora" id="logoenviado" value="Sim" checked>
                                <label for="logoenviado">Sim</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="logooperadora" id="logonaoenviado" value="Não">
                                <label for="logonaoenviado">Não</label>
                            </div>
                        </td>

                        <td>
                            <h2>O manual da marca foi enviado ao marketing?</h2>
                            <div class="radio-wrapper">
                                <input type="radio" name="manualmarca" id="manualenviado" value="Sim" checked>
                                <label for="manualenviado">Sim</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="manualmarca" id="manualnaoenviado" value="Não">
                                <label for="manualnaoenviado">Não</label>
                            </div>
                        </td>

                        <td>
                            <h2>Possui modelo de declaração de saúde?</h2>
                            <div class="radio-wrapper">
                                <input type="radio" name="modelodeclaracao" id="possuimodelodeclaracao" value="Sim" checked>
                                <label for="possuimodelodeclaracao">Sim</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="modelodeclaracao" id="naopossuimodelodeclaracao" value="Não">
                                <label for="naopossuimodelodeclaracao">Não</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="100%" style="padding-top: .5rem;">
                            <h2>Quais dos documentos acima já foram solicitados? Há alguma previsão de envio deles?</h2>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="100%" style="padding-top: .5rem;">
                            <textarea name="designobs" id="designobs" style="width: 100%; height: 5rem; resize: vertical;"
                                placeholder="Escreva aqui..."></textarea>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend>responsável pelas informações</legend>
                <table class="responsavel" id="responsavel">
                    <tr>
                        <td>
                            <div class="input-wrapper">
                                <label for="nomeresponsavel">Nome completo</label>
                                <input type="text" name="nomeresponsavel" id="nomeresponsavel" required>
                            </div>
                        </td>

                        <td>
                            <div class="input-wrapper">
                                <label for="localresponsavel">Setor</label>
                                <input type="text" name="localresponsavel" id="localresponsavel" required>
                            </div>
                        </td>

                        <td>
                            <div class="input-wrapper">
                                <label for="dataresponsavel">Data</label>
                                <input type="text" name="dataresponsavel" id="dataresponsavel" placeholder="dd/mm/AAAA"
                                    required>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>

            <button type="submit" id="previa">prévia</button>
        </form>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-title"> ALERTA </div>
                <p id="modal-message"></p>
                <button id="modal-ok-button">Ok</button>
            </div>
        </div>
    </div>
</body>

</html>