<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <title>Navbar</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <div class="user">
                <h2>Olá, <b>Fulano</b>!</h2>
                <a href="/logout" title="Sair">
                    <i class="bi bi-box-arrow-left"></i>&ensp;Sair
                </a>
            </div>
            <h1>Linha Master</h1>
            
            <li><a href="/operadoras"><i class="bi bi-file-medical"></i></i>&emsp;Operadoras</a></li>
            <li><a href="/produtos"><i class="bi bi-box2-heart"></i></i>&emsp;Produtos</a></li>
            <li><a href="/entidades"><i class="bi bi-people"></i></i>&emsp;Entidades</a></li>
            <li><a href="/finos"><i class="bi bi-file-earmark-check"></i></i>&emsp;Finos</a></li>
 </ul>
    </div>
</body>
</html>