<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@200;300;400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="navbardiv">
        <%- include('navbar') %>
    </div>
    <div class="content">
        <h1> Cadastro de Produtos </h1>

        <div class="operadorasInfosIniciais">
            <div class="wrapper">
                <label for="selectOperadora">Operadora:</label>
                <select name="selectOperadora" id="selectOperadora" required>
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="opcao1">Opção 1</option>
                </select>
            </div>

            <div class="wrapper">
                <label for="finoNum">FINO nº:</label>
                <select name="finoNum" id="finoNum" required>
                    <option value="" disabled selected hidden>Selecionar</option>
                    <option value="opcao1">Opção 1</option>
                </select>
            </div>
        </div>

        <form action="">
            <fieldset id="planos" name="dadosPlanos">
                <input type="hidden" name="counterPlanos" class="counterPlanos" for="idPlano" value='1'>
                <legend>planos para comercialização</legend>
                <table class="plano" id="plano-1">
                    <input type="hidden" name="idPlano" class="idPlano" for="idPlano" value="plano-1">
                    <thead>
                        <tr>
                            <th colspan="6">
                                <div class="input-wrapper">
                                    <label for="nomeplano">Nome do Plano</label>
                                    <input type="text" name="nomeplano" id="nomeplano" placeholder="Nome do plano" required>
                                </div>
                            </th>
                            <th colspan="2">
                                <div class="input-wrapper">
                                    <label for="ansplano">ANS</label>
                                    <input type="text" name="ansplano" id="ansplano" required>
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div class="input-wrapper">
                                    <label for="contratoplano">Contratação</label>
                                    <select name="contratoplano" id="contratoplano" required>
                                        <option value="" disabled selected hidden>Selecionar</option>
                                        <option value="Individual">Individual ou familiar</option>
                                        <option value="Empresarial">Coletivo empresarial</option>
                                        <option value="Adesão">Coletivo por adesão</option>
                                    </select>
                                </div>
                                <div class="input-wrapper">
                                    <label for="cooparticipacao">Cooparticipação</label>
                                    <select name="cooparticipacao" id="cooparticipacao" required>
                                        <option value="" disabled selected hidden>Selecionar</option>
                                        <option value="Com Cooparticipação">Com Cooparticipação</option>
                                        <option value="Sem cooparticipação">Sem Cooparticipação</option>
                                    </select>
                                </div>
                            </td>
                            <td colspan="3">
                                <div class="input-wrapper">
                                    <label for="coberturaplano">Cobertura</label>
                                    <select name="coberturaplano" id="coberturaplano" required>
                                        <option value="" disabled selected hidden>Selecionar</option>
                                        <option value="Ambulatorial">Ambulatorial</option>
                                        <option value="Ambulatorial + Hospitalar COM obstetrícia">Ambulatorial +
                                            Hospitalar COM obstetrícia</option>
                                        <option value="Ambulatorial + Hospitalar COM obstetrícia + Odontológico">
                                            Ambulatorial + Hospitalar COM obstetrícia + Odontológico</option>
                                        <option value="Ambulatorial + Hospitalar SEM obstetrícia">Ambulatorial +
                                            Hospitalar SEM obstetrícia</option>
                                        <option value="Ambulatorial + Hospitalar SEM obstetrícia + Odontológico">
                                            Ambulatorial + Hospitalar SEM obstetrícia + Odontológico</option>
                                        <option value="Ambulatorial + Odontológico">Ambulatorial + Odontológico</option>
                                        <option value="Hospitalar COM obstetrícia">Hospitalar COM obstetrícia</option>
                                        <option value="Hospitalar COM obstetrícia + Odontológico">Hospitalar COM
                                            obstetrícia + Odontológico</option>
                                        <option value="Hospitalar SEM obstetrícia">Hospitalar SEM obstetrícia</option>
                                        <option value="Hospitalar SEM obstetrícia + Odontológico">Hospitalar SEM
                                            obstetrícia + Odontológico</option>
                                        <option value="Odontológico">Odontológico</option>
                                    </select>
                                </div>

                                <div class="acomodacao">
                                    <label for="acomodacaoplano">Acomodação</label>
                                    <select name="acomodacaoplano" id="acomodacaoplano" required>
                                        <option value="" disabled selected hidden>Selecionar</option>
                                        <option value="Enfermaria">Enfermaria</option>
                                        <option value="Apartamento">Apartamento</option>
                                    </select>
                                </div>
                            </td>
                            <td colspan="3">
                                <div class="input-wrapper">
                                    <label for="abrangenciaplano">Abrangência</label>
                                    <select name="abrangenciaplano" id="abrangenciaplano" required>
                                        <option value="" disabled selected hidden>Selecionar</option>
                                        <option value="Nacional">Nacional</option>
                                        <option value="Grupo de estados">Grupo de estados</option>
                                        <option value="Estadual">Estadual</option>
                                        <option value="Grupo de municípios">Grupo de municípios</option>
                                        <option value="Municipal">Municipal</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="100%">
                                <h3>área de Abrangência</h3>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="100%" style="padding-top: .5rem;">
                                <textarea name="areaabrangencia" id="areaabrangencia"
                                    style="width: 100%; height: 5rem; resize: vertical;"
                                    placeholder="Insira as localidades (se não se aplicar, deixe em branco)"></textarea>
                            </td>
                        </tr>
                    </thead>

                    <tbody class="tabelaProcedimentos" id="Procedimentos-1">
                        <tr>
                            <th scope="col" colspan="100%">
                                <h3>procedimentos</h3>
                            </th>
                        </tr>

                        <tr>
                            <th scope="col" colspan="1">
                                <h2>Descrição dos procedimentos</h2>
                            </th>
                            <th scope="col" colspan="3">
                                <h2>Coparticipação</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Limite Carência (dias)</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Redução de carências</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Congêneres</h2>
                            </th>
                            <th scope="col" colspan="1">
                                <h2>Excluir</h2>
                            </th>
                        </tr>

                        <tr class="procedimento">
                            <td colspan="1" style="padding-top: .5rem;">
                                <div class="hide" id="idPlano" value=""></div>
                                <textarea name="procedimentodescricao" id="procedimentodescricao" required></textarea>
                            </td>

                            <td colspan="1" style="padding-top: .5rem;">
                                <input type="number" name="procedimentocopay" id="procedimentocopay" placeholder="Valor (%)"
                                    required>
                            </td>

                            <td colspan="1" style="padding-top: .5rem;">
                                <label for="limite" class="inactive">Limite</label>
                                <input type="number" name="procedimentolimitecopay" id="procedimentolimitecopay"
                                    placeholder="Limite (R$)" required>
                            </td>

                            <td colspan="1" style="padding-top: .5rem;">
                                <label for="franquia" class="inactive">Franquia</label>
                                <input type="text" name="procedimentofranquiacopay" id="procedimentofranquiacopay"
                                    placeholder="Franquia (R$)" title="Caso não haja, deixe em branco ou preencha com '0'"
                                    required>
                            </td>

                            <td colspan="1" style="padding-top: .5rem;">
                                <input type="number" name="procedimentolimitecarencia" id="procedimentolimitecarencia"
                                    required>
                            </td>

                            <td colspan="1" style="padding-top: .5rem;">
                                <textarea name="procedimentoreducaocarencia" id="procedimentoreducaocarencia"
                                    placeholder="Condições de redução..."></textarea>
                            </td>

                            <td colspan="1" style="padding-top: .5rem;">
                                <textarea name="procedimentocongenere" id="procedimentocongenere"
                                    placeholder="Condições de congêneres..."></textarea>
                            </td>
                            <td colspan="1" style="padding-top: .5rem;">
                                <div class="button-remove" title="Remover procedimento(s)" style="margin: auto;">&times
                                </div>
                            </td>
                    </tbody>
                    <tbody>
                        </tr>

                        <tr>
                            <td colspan="100%">
                                <div class="novoprocedimento">
                                    <button class="button-add" id="pitico" type="button"> + </button>
                                    <p>Adicionar procedimento</p>
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td scope="col" colspan="100%">
                                <h3>dependentes</h3>
                            </td>
                        </tr>

                        <tr class="dependentes">
                            <th scope="col" colspan="2">
                                <h2>Parentesco</h2>
                            </th>
                            <th scope="col" colspan="3">
                                <h2>Condições</h2>
                            </th>
                            <th scope="col" colspan="3">
                                <h2>Documentos</h2>
                            </th>
                        </tr>

                        <tr>
                            <td colspan="2" style="padding-top: .5rem;">
                                <h2>
                                    Cônjuges
                                </h2>
                            </td>

                            <td colspan="3" style="padding-top: .5rem;">
                                <input type="text" name="condicoesdependentes_conjuge" id="condicoesdependentes_conjuge"
                                    placeholder="Condições" title="Caso não haja, deixe em branco.">
                            </td>

                            <td colspan="3" style="padding-top: .5rem;">
                                <input type="text" name="documentosdependentes_conjuge" id="documentosdependentes_conjuge"
                                    placeholder="Documentos" title="Caso não haja, deixe em branco.">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <h2>
                                    Filhos
                                </h2>
                            </td>

                            <td colspan="3">
                                <input type="text" name="condicoesdependentes_filhos" id="condicoesdependentes_filhos"
                                    placeholder="Condições" title="Caso não haja, deixe em branco.">
                            </td>

                            <td colspan="3">
                                <input type="text" name="documentosdependentes_filhos" id="documentosdependentes_filhos"
                                    placeholder="Documentos" title="Caso não haja, deixe em branco.">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <h2>
                                    Netos
                                </h2>
                            </td>

                            <td colspan="3">
                                <input type="text" name="condicoesdependentes_netos" id="condicoesdependentes_netos"
                                    placeholder="Condições" title="Caso não haja, deixe em branco.">
                            </td>

                            <td colspan="3">
                                <input type="text" name="documentosdependentes_netos" id="documentosdependentes_netos"
                                    placeholder="Documentos" title="Caso não haja, deixe em branco.">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <h2>
                                    Pais
                                </h2>
                            </td>

                            <td colspan="3">
                                <input type="text" name="condicoesdependentes_pais" id="condicoesdependentes_pais"
                                    placeholder="Condições" title="Caso não haja, deixe em branco.">
                            </td>

                            <td colspan="3">
                                <input type="text" name="documentosdependentes_pais" id="documentosdependentes_pais"
                                    placeholder="Documentos" title="Caso não haja, deixe em branco.">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <h2>
                                    Outros
                                </h2>
                            </td>

                            <td colspan="3">
                                <input type="text" name="condicoesdependentes_outros" id="condicoesdependentes_outros"
                                    placeholder="Condições" title="Caso não haja, deixe em branco.">
                            </td>

                            <td colspan="3">
                                <input type="text" name="documentosdependentes_outros" id="documentosdependentes_outros"
                                    placeholder="Documentos" title="Caso não haja, deixe em branco.">
                            </td>
                        </tr>

                        <tr>
                            <th scope="col" colspan="100%">
                                <h3>
                                    tabela de preços
                                </h3>
                            </th>
                        </tr>

                        <tr class="tabelaprecos">
                            <th scope="col" colspan="4">
                                <h2>
                                    Faixa etária
                                </h2>
                            </th>

                            <th scope="col" colspan="4">
                                <h2>
                                    Valor (%)
                                </h2>
                            </th>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    00-18
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria1" id="fxetaria1">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    19-23
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria2" id="fxetaria2">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    24-28
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria3" id="fxetaria3">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    29-33
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria4" id="fxetaria4">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    34-38
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria5" id="fxetaria5">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    39-43
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria6" id="fxetaria6">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    44-48
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria7" id="fxetaria7">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    49-53
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria8" id="fxetaria8">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    54-58
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria9" id="fxetaria9">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <h2>
                                    59+
                                </h2>
                            </td>
                            <td colspan="4">
                                <input type="number" name="fxetaria10" id="fxetaria10">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="100%">
                                <h3>Observações sobre o plano</h3>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="100%" style="padding-top: .5rem;">
                                <textarea name="planoobs" id="planoobs" style="width: 100%; height: 5rem; resize: vertical;"
                                    placeholder="Escreva aqui..."></textarea>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <div class="duplicarplano" style="margin-top: 2rem;">
                                    <button type="button" id="duplicarPlano" class="button-duplicar" title="Duplicar plano"
                                        data-plano-id="plano-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" class="lucide lucide-copy">
                                            <rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect>
                                            <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path>
                                        </svg>
                                    </button>
                                    <p>Duplicar este plano</p>
                                </div>
                            </td>

                            <td colspan="4">
                                <div class="excluirplano" id="excluirplano" style="margin-top: 2rem;">
                                    <button type="button" class="button-remove-plano" id="button-remove-plano"
                                        title="Remover plano">&times</button>
                                    <p>
                                        Excluir este plano
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <div class="novalinha" id="add-plano">
                <button class="button-add" id="button-add-planos" type="button">+</button>
                <p>Adicionar plano</p>
            </div>
        </form>
    </div>
</body>

</html>